{% extends "base_generic.html" %}

{% block content %}
<div class="space-y-8">
  <!-- Filter Section -->
  <div class="m-4 bg-white p-6 shadow-md rounded-3xl">
    <h2 class="text-2xl font-semibold mb-4">Filters / Sort By</h2>
    <form method="get" class="grid grid-cols-1 md:grid-cols-4 gap-4">
      <!-- Filter Fields -->
      <div>
        <label for="city" class="block text-sm font-medium">City:</label>
        <input type="text" name="city" placeholder="Enter the City" class="mt-1 p-2 border border-gray-300 rounded w-full" value="{{ request.GET.city }}">
      </div>
      <div>
        <label for="food_type" class="block text-sm font-medium">Food Type:</label>
        <select name="food_type" class="mt-1 p-2 border border-gray-300 rounded w-full">
          <option value="">All</option>
          {% for value, label in food_type_choices %}
            <option value="{{ value }}" {% if value == request.GET.food_type %} selected {% endif %}>{{ label }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <label for="cuisines" class="block text-sm font-medium">Cuisines:</label>
        <select name="cuisines" class="mt-1 p-2 border border-gray-300 rounded w-full">
          <option value="">All</option>
          {% for value, label in cuisines_choices %}
            <option value="{{ value }}" {% if value == request.GET.cuisines %} selected {% endif %}>{{ label }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <label for="rating" class="block text-sm font-medium">Min Rating:</label>
        <input type="number" name="rating" class="mt-1 p-2 border border-gray-300 rounded w-full" value="{{ request.GET.rating }}" step="0.1" min="0" max="5">
      </div>
      <div>
        <label for="cost_for_two" class="block text-sm font-medium">Max Cost for Two:</label>
        <input type="number" name="cost_for_two" class="mt-1 p-2 border border-gray-300 rounded w-full" value="{{ request.GET.cost_for_two }}">
      </div>
      <div class="flex items-center space-x-2">
        <label for="open_hotel" class="text-sm font-medium">Opened Now:</label>
        <input type="checkbox" name="open_hotel" value="true" {% if request.GET.open_hotel == "true" %} checked {% endif %} class="mt-1">
      </div>
      <div>
        <label for="ordering" class="block text-sm font-medium">Sort By:</label>
        <select name="ordering" class="mt-1 p-2 border border-gray-300 rounded w-full">
          <option value="rating" {% if request.GET.ordering == 'rating' %} selected {% endif %}>Rating</option>
          <option value="-rating" {% if request.GET.ordering == '-rating' %} selected {% endif %}>Rating (Descending)</option>
          <option value="cost_for_two" {% if request.GET.ordering == 'cost_for_two' %} selected {% endif %}>Cost for Two</option>
          <option value="-cost_for_two" {% if request.GET.ordering == '-cost_for_two' %} selected {% endif %}>Cost for Two (Descending)</option>
        </select>
      </div>      
      <div class="col-span-1 md:col-span-4 flex justify-center">
        <button type="submit" class="bg-red-400 text-white px-4 py-2 rounded hover:bg-red-500 transition w-full md:w-1/3">
          Apply Filters
        </button>
      </div>
    </form>
  </div>

  <!-- Restaurant List Section -->
  <div>
    <i><h2 class="text-3xl font-semibold m-4 flex justify-center">Restaurants</h2></i>

    <!-- Search Section -->
    <div class="m-4 bg-white p-6 shadow-md rounded-3xl w-full md:w-1/2 mx-auto flex justify-center items-center">
      <div class="text-center w-full">
        <h2 class="text-xl font-semibold mb-4">Search the Restaurants:</h2>
        <form method="get" class="space-y-4">
          <div class="flex justify-center space-x-3">
            <input type="text" name="search" placeholder="Search by name, city, or food type" 
                  class="mt-1 p-2 border border-gray-300 rounded w-3/4 md:w-1/2" value="{{ request.GET.search }}">
            <button type="submit" class="bg-red-400 text-white px-4 py-2 rounded hover:bg-red-500 transition">
              Search
            </button>
          </div>
        </form>
      </div>
    </div>

    {% if restaurants %}
      <div class="m-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for restaurant in restaurants %}
          <div class="bg-white p-6 rounded-2xl shadow-md hover:shadow-lg transition">
            <!-- Display Images -->
            <div class="mb-4">
              <img src="{{ restaurant.images.first.image.url }}" alt="{{ restaurant.title }}" class="w-full h-48 object-cover rounded-lg shadow-md">
            </div>
            
            <!-- Title and Stars -->
            <div class="flex justify-between">
              <h3 class="text-xl font-semibold mb-2">{{ restaurant.title }}</h3>
              <div class="flex items-center space-x-1">
                {% for i in rating_range %}
                  {% if i < restaurant.avg_rating %}
                    <i class="fas fa-star text-yellow-400"></i> <!-- Filled star -->
                  {% else %}
                    <i class="far fa-star text-yellow-400"></i> <!-- Empty star -->
                  {% endif %}
                {% endfor %}
              </div>
            </div>

            <!-- Location and Open/Close Status -->
            <div class="flex justify-between">
              <div class="flex">
                <p class="text-gray-600 text-sm">{{ restaurant.location }}</p>
              </div>
              {% if restaurant.is_open %}
                <p class="text-green-500">Open</p>
              {% else %}
                <p class="text-red-500">Closed</p>
              {% endif %}
            </div>

            <!-- Details Button -->
            <div class="flex justify-center mt-4">
              <a href="{% url 'restaurant_detail' restaurant.id %}" class="w-1/2">
                <button class="bg-red-400 text-white font-bold py-2 px-4 rounded hover:bg-red-500 transition w-full">
                  Details
                </button>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>

      <!-- Pagination Controls -->

      <div class="m-3 flex justify-center mt-6">
        <div class="flex space-x-4">
          {% if page_obj.has_previous %}
            <a href="?page=1&{{ request.GET.urlencode|safe }}" class="bg-gray-200 text-gray-700 px-4 py-2 rounded hover:bg-gray-300 transition">First</a>
            <a href="?page={{ page_obj.previous_page_number }}&{{ request.GET.urlencode|safe }}" class="bg-gray-200 text-gray-700 px-4 py-2 rounded hover:bg-gray-300 transition">Previous</a>
          {% endif %}

          <span class="text-gray-600">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&{{ request.GET.urlencode|safe }}" class="bg-gray-200 text-gray-700 px-4 py-2 rounded hover:bg-gray-300 transition">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&{{ request.GET.urlencode|safe }}" class="bg-gray-200 text-gray-700 px-4 py-2 rounded hover:bg-gray-300 transition">Last</a>
          {% endif %}
        </div>
      </div>


    {% else %}
      <p>No restaurants found.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
