{% extends 'base_generic.html' %}

{% block content %}
  <h2 class="text-2xl font-semibold text-center mb-6">Reset Your Password</h2>
  <form method="post" class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-md space-y-4">
    {% csrf_token %}
    <div class="space-y-2">
      {{ form.new_password1 }}
      {{ form.new_password2 }}
    </div>
    <button type="submit" class="w-full bg-green-500 text-white py-2 px-4 rounded-lg hover:bg-green-600 transition duration-300">
      Reset Password
    </button>
  </form>
{% endblock %}
