<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant App</title>
  <!-- Include Tailwind CSS -->
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <!-- Swiper CSS -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" /> 

  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <script>
    document.addEventListener('click', function(e) {
      const dropdown = document.querySelector('#dropdown-menu');
      const button = document.querySelector('#dropdown-button');
      
      // If the click is outside of the button or the dropdown, close the dropdown
      if (!button.contains(e.target) && !dropdown.contains(e.target)) {
        dropdown.classList.add('hidden');
      }
    });

    function toggleDropdown() {
      const dropdown = document.querySelector('#dropdown-menu');
      dropdown.classList.toggle('hidden');
    }
  </script>
</head>
<body class="bg-gray-100 font-sans">

  <!-- Header Section -->
  <header class="bg-red-300 p-4 text-white">
    <div class="max-w-7xl mx-auto flex justify-between items-center">
      <i><h1 class="text-2xl font-semibold">MealMate</h1></i>
      <nav>
        <ul class="flex space-x-4">
          {% if request.path != '/' %}
            <li><a href="/" class="hover:text-black text-xl">Home</a></li>
            <p>|</p>
          {% endif %}
          
          <li><a href="{% url 'restaurant-list' %}" class="hover:text-black text-xl">Restaurants</a></li>
        </ul>    
      </nav>
      
      <!-- User authentication section -->
      {% if request.user.is_authenticated %}
        <div class="relative">
          <!-- Display username and dropdown when clicked -->
          
          <button id="dropdown-button" class="bg-gray-300 text-black rounded p-2 font-semibold mr-3 hover:text-blue-500 flex" onclick="toggleDropdown()">
            <p>{{ request.user.username }}</p>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="ml-1 size-5">
              <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" />
            </svg>
          </button>
               
          <!-- Dropdown menu -->
          <div id="dropdown-menu" class="absolute right-0 hidden mt-2 space-y-2 bg-red-100 text-black rounded shadow-lg z-50">
            <a href="{% url 'profile' %}" class="block px-4 py-2 hover:bg-gray-300">Profile</a>
            <a href="{% url 'password_reset' %}" class="block px-4 py-2 hover:bg-gray-300 ">Reset Password</a>
            <a href="{% url 'logout' %}" class="block px-4 py-2 hover:bg-gray-300">Logout</a>
          </div>
        </div>
      {% else %}
        <div>
          <a href="{% url 'login' %}"><button class="mr-2 p-2 bg-gray-500 rounded hover:text-blue-200">Login</button></a>
          <a href="{% url 'register' %}"><button class="p-2 bg-gray-500 rounded hover:text-blue-200">Register</button></a>
        </div>
      {% endif %}
      
    </div>
  </header>

  <!-- Main Content Section -->
  <main>
    {% block content %} 
    <!-- Page specific content will go here -->
    {% endblock %}
  </main>

  <!-- Footer Section -->
  <footer class="bg-red-300 text-white text-center">
    <p>&copy; 2024 MealMate</p>
  </footer>

</body>
</html>
